@charset "UTF-8";
html,
body {
  height: 100%;
}

#container {
  flex-wrap: wrap;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container_head
{
  height:150px; 
  background-color: rgba(0,0,0,0);
  line-height: 150px; 
  font-size:60px;
  font-family:PingFangSC-Regular;
  color:rgba(255,255,255,1); 
  display: block; 
  text-align: center;
}
.container_div 
{
  display: flex;
  background-color: rgba(0,0,0,0);
  height: 1369px;
  margin: 0px 23px;
  
}
.container_div > * {
  margin: 0px 20px;

}
#container .left-part {
  display: flex;
  flex-flow: column nowrap;
  flex: 903;
  background-color:#031350;
  opacity:0.83;
  /*background-image: url(../../img/camera/bg2.png);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border:1px solid #C0C0C0;
  border-radius:25px;
}
#container .left-part form {
  display: flex;
}
#container .left-part form > * {
  height: 32px;
  font-size: 12px;
}
#container .left-part form #dropdown1 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  font-size: 12px;
}
#container .left-part form #dropdown1 .down-arrow {
  width: 12px;
  height: 7px;
  background: url("../img/Rectangle.png") center/contain no-repeat;
}
#container .left-part form .dropdown-menu {
  /* webkit */
  /* ie */
  /*三角箭头的颜色*/
  scrollbar-arrow-color: transparent;
  /*立体滚动条的颜色*/
  scrollbar-face-color: rgba(153, 153, 153, 0.4376);
  /*立体滚动条亮边的颜色*/
  scrollbar-3dlight-color: transparent;
  /*滚动条空白部分的颜色*/
  scrollbar-highlight-color: transparent;
  /*立体滚动条阴影的颜色*/
  scrollbar-shadow-color: transparent;
  /*立体滚动条强阴影的颜色*/
  scrollbar-darkshadow-color: transparent;
  /*立体滚动条背景颜色*/
  scrollbar-track-color: transparent;
  /*滚动条的基本颜色*/
  scrollbar-base-color: transparent;
  width: 200px;
  max-height: 168px;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-y: scroll;
}
#container .left-part form .dropdown-menu::-webkit-scrollbar {
  width: 6px;
}
#container .left-part form .dropdown-menu::-webkit-scrollbar-button {
  /* 滚动条上下按钮 */
  display: none;
}
#container .left-part form .dropdown-menu::-webkit-scrollbar-track-piece {
  /* 滚动条底部 */
}
#container .left-part form .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgba(153, 153, 153, 0.4376);
  border-radius: 4px;
}
#container .left-part form .dropdown-menu > li + li {
  border-top: 1px solid #eeeeee;
}
#container .left-part form .dropdown-menu > li > a {
  line-height: 36px;
  color: #666666;
  padding: 0;
}
#container .left-part form .dropdown-menu > li > a:focus, #container .left-part form .dropdown-menu > li > a:hover {
  color: #49c481;
}
#container .left-part form #input1 {
  width: 200px;
  margin-left: 40px;
}
#container .left-part form #button1 {
  width: 66px;
  background-color: #49c481;
  margin-left: 20px;
}
#container .left-part #list1-container {
  flex: 1;
  border-radius: 3px;
  padding: 16px 15px 16px 0;
/*   box-shadow: 0px 2px 4px 0 rgba(244, 238, 238, 0.07); */
  overflow: hidden;
}
#container .left-part #list1 {
  /* webkit */
  /* ie */
  /*三角箭头的颜色*/
  scrollbar-arrow-color: transparent;
  /*立体滚动条的颜色*/
  scrollbar-face-color: #778499;
  /*立体滚动条亮边的颜色*/
  scrollbar-3dlight-color: transparent;
  /*滚动条空白部分的颜色*/
  scrollbar-highlight-color: transparent;
  /*立体滚动条阴影的颜色*/
  scrollbar-shadow-color: transparent;
  /*立体滚动条强阴影的颜色*/
  scrollbar-darkshadow-color: transparent;
  /*立体滚动条背景颜色*/
  scrollbar-track-color: transparent;
  /*滚动条的基本颜色*/
  scrollbar-base-color: transparent;
  height: 100%;
  padding: 0 0px 20px 20px;
  overflow: hidden scroll;
}
#container .left-part #list1::-webkit-scrollbar {
  width: 10px;
}
#container .left-part #list1::-webkit-scrollbar-button {
  /* 滚动条上下按钮 */
  display: none;
}
#container .left-part #list1::-webkit-scrollbar-track-piece {
  /* 滚动条底部 */
}
#container .left-part #list1::-webkit-scrollbar-thumb {
  background-color: #778499;
  border-radius: 0;
}
#container .left-part #list1 .item {
  width: calc(33.3% - 40px);
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 19px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
  float: left;
  overflow: hidden;
  height: 424px;
}
#container .left-part #list1 .item .snapshot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/shipin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border:1px dashed white;
  border-bottom: 2px dashed white;
  height: 352px;
}
#container .left-part #list1 .item .snapshot:before {
  content: "";
  display: inline-block;
  width: 170px;
  height: 172px;
  background: url(../img/bofang.png)  center/contain no-repeat;;
  border:1px dashed white;
  cursor: pointer;
}
#container .left-part #list1 .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  font-size: 28px;
  color: white;
  padding: 0 14px;
  background-color:rgb(2, 32, 95);
}
#container .right-part {
  display: flex;
  flex-flow: column nowrap;
  flex: 340;
  min-width: 255px;
  border-radius: 4px;
  border: 1px solid rgb(100, 100,100);
  overflow: hidden;
  background-color:#031350;
  /*background-color: rgba(3,19,80，0.83);*/
  opacity:0.83;

}
#container .right-part #tabs {
  display: flex;
}
#container .right-part #tabs > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 82px;
  font-size: 34px;
  background-color: rgb(3, 34, 90);
  color: white;
  border: 1px solid rgb(100, 100,100);
  cursor: pointer;

}
#container .right-part #tabs > *.active {
  color: white;
  background-color: rgb(5, 34, 123);
  border: 1px solid rgb(100, 100,100);
  box-shadow:4px 4px 10px rgb(69, 91, 170); 
}
#container .right-part #info {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  padding: 50px 20px;
}

#container .right-part #info .item {
  width: 100%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 19px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
  float: left;
  overflow: hidden;
  height: 424px;
}
#container .right-part #info .item .snapshot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/shipin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border:1px dashed white;
  border-bottom: 2px dashed white;
  height: 352px;
}
#container .right-part #info .item .snapshot:before {
  content: "";
  display: inline-block;
  width: 170px;
  height: 172px;
  background: url(../img/bofang.png)  center/contain no-repeat;;
  border:1px dashed white;
  cursor: pointer;
}
#container .right-part #info .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  font-size: 28px;
  color: white;
  padding: 0 14px;
  background-color:rgb(2, 32, 95);
}



#container .right-part #info .track {
  display: flex;
  padding-bottom: 30px;
}
#container .right-part #info .track .date-time {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 123px;
  color: white;
}
#container .right-part #info .track .date-time .date {
  font-size:28px;
  font-family:PingFangSC-Regular;
  font-weight:300;
  color:rgba(255,255,255,1);
  line-height:40px;
}
#container .right-part #info .track .date-time .time {
  font-size:22px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height:30px;
}
#container .right-part #info .track .dot {
  width: 10px;
  margin: 0 10px -30px;
  position: relative;
}
#container .right-part #info .track .dot:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #e8e8e8;
  border-radius: 50%;
  margin-top: 2px;
}
#container .right-part #info .track .dot:after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #e8e8e8;
  position: absolute;
  top: 0;
  right: 9px;
  bottom: 0;
  left: 9px;
}
#container .right-part #info .track .info {
  display: inline-flex;
  flex-flow: column nowrap;
  flex: 1;
  font-size: 14px;
  margin: 0px 0px 60px 20px;
}
#container .right-part #info .track .info .text {
font-size:32px;
font-family:PingFangSC;
font-weight:300;
color:rgba(255,255,255,1);
line-height:45px;
}
#container .right-part #info .track .info .image {
  width: 396px;
  height: 244px;
  margin-top: 11px;
  background-image: url(../img/xingwei.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */

/*滚动条样式*/

#list1::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/**视频播放播放器**/
#shipin_Bofang{
  color: white;
  font-size: 60px; 
  margin:0px 20px;
}

#shipin_Bofang .video_name
{
  float:right;
  width:80%; 
  line-height: 100px; 
  font-size:36px;
  text-align: center;
}
#shipin_Bofang .close_video
{
  float:right;
  width:10%; 
  line-height:100px;
  font-size:36px; 
  text-align:right;
}

#shipin_Bofang .bofang_head
{
  height:100px;
  width:100%;
}
